{% extends 'base.html' %}
    {% block title %}Registration Form{% endblock %}

{% block content %}
  <h2>Registration Form</h2>
  <form action="/register-process" method="POST">
    <div>
        <label>What's your name?</label>
        <input type="text" email="name" placeholder="name" required autofocus><br>
        <label>What's your email?</label>
        <input type="text" email="email" placeholder="email" required autofocus><br>
        <label>What's your password?</label>
        <input type="text" password="password" placeholder="password" required autofocus><br>
        <button>Submit</button>
    </div>
  </form>
{% endblock %}